<!--<ng-container >//*ngIf="actionCodeChecked" [ngSwitch]="mode"> 
  
    <ng-container> 
     
      <input [(ngModel)]="newPassword" type="text" id="newPassword"
      name="newPassword" placeholder="New Password"> <br> 
      <input [(ngModel)]="confirmPassword" type="text"
      id="confirmPassword" name="confirmPassword" placeholder="Confirm
      Password"> 
      <button (click)="handleResetPassword()">Confirm</button> 
    </ng-container> 
   
  </ng-container> 
-->




  
<body style=" margin: 0;padding: 0;background-color:#3F51B5;height: 100vh;" >
  <div class="d-flex justify-content-center h-100">
    <div class="card">
    <div class="card-header" style="font-weight: bold ;text-align: center;">
   Reset Password
    </div>
    <div class="card-body">
            <input [(ngModel)]="newPassword" type="text" id="newPassword"
              name="newPassword" placeholder="New Password" class="form-control"> <br> 
              <input [(ngModel)]="confirmPassword" type="text"
              id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control"> 
              <button mat-raised-button color="primary" (click)="handleResetPassword()">Confirm</button> 
    </div>
    
    </div>
    
    </div>
  
  </body>