<body>
 <!--<div class="centered"  style="align-items: center;">
  <p><button mat-raised-button color='accent' style="min-width:100vw">Employee</button>
</p>
<p>
  <button mat-raised-button color='accent' style="min-width:100px">User</button>
</p>
</div>-->
<div class="container" >
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Clean India Green India</h3>
        <div class="d-flex justify-content-end social_icon">
          
          <!--<span><i class="fab fa-google-plus-square" (click)="logingoogle()"></i></spa-->
               </div>
      </div>
      <div class="card-body ">
        <div class="d-flex justify-content-center " style="margin:15px">
         
        <button mat-raised-button color='primary' style="min-width:150px" (click)="Employee()">Employee</button>
        </div>
        <div class="d-flex justify-content-center " style="margin:15px">
          <button mat-raised-button color='primary' style="min-width:150px" (click)="User()">User</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
  </body>
