
<body style=" margin: 0;padding: 0;background-color:#39ff15;height: 100vh;">
  <div class="d-flex justify-content-center h-100">
    <div class="card bg-white shadow-lg">
    <div class="card-header text-center" style="font-weight: bold">
      <img alt='' class='card-img-profile' src='https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140'>
    <p>edit</p>
    </div>
    
    <table width="80%"  align="center"  cellpadding="4" cellspacing="2"  class="table" class="header-text text-lg">
	
      
          <tr>
            <td align="left" >Employee Name</td>
            <td align="left" >pawabn/td>
          </tr>
        <tr>
            <td align="left">Gender</td>
            <td align="left">
             male
            </td>
          </tr>
         
          <tr>
            <td align="left">Email</td>
            <td align="left">pgee@dmd
          </tr><tr>
            <td align="left">Designation</td>
  
            <td align="left">
              addasdasdasda
            </td>
          </tr><tr>
  
            <td align="left">Address</td>
            <td align="left">addadadadaaadad</td>
          </tr><tr>
            <td align="left">Salary</td>
            <td align="left">855852</td>
          </tr><tr>
            <td align="left">Duty Hours</td>
            <td align="left">58</td>
          </tr>
              
              
  <tr>
            <td align="left">Contact Number</td>
            <td align="left">8985899</td>
          </tr>
            
            
        </table>
    </div>
    
    </div>
  
  </body>