
<body style=" margin: 0;padding: 0;background-color:#3F51B5;height: 100vh;font-family: sarif">
  <div class="d-flex justify-content-center h-100">
    <div class="card bg-success shadow-lg">
    <div class="card-header text-center text-white" style="font-weight: bold">
      <img alt='' class='card-img-profile' src='https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=140'>
    <p>edit</p>
    </div>
    <div class="card-body" >
    <table *ngFor="let user of userList" width="100%" style="font-weight: 25px" align="center"  cellpadding="4" cellspacing="2"  class="table" class="header-text text-white">
	
      
          <tr>
            <td align="left" >Name</td>
            <td align="left" >{{user.displayName}}</td>
          </tr>
        <tr>
            <td align="left">Gender</td>
            <td align="left">
                {{user.gender}}
            </td>
          </tr>
         
          <tr>
            <td align="left">Email</td>
            <td align="left">{{user.email}}
          </tr><tr>
                 <td align="left">Contact Number</td>
            <td align="left">{{user.phoneNumber}}</td>
          </tr>
            
            
        </table>
      </div>
    </div>
    
    </div>
  
  </body>