<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
  
     
    <mat-sidenav #sidenav style="text-align:center;color:white;background-color:#39ff15 ">
     <!-- <a href="#">Profile</a>  -->
     <mat-card class="example-card" style="background-color:#39ff15;color:white;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title  style="color:white"><div *ngFor="let user of userList">{{user.displayName}}</div></mat-card-title>
      <mat-card-subtitle  style="color:white"><div *ngFor="let user of userList">{{user.email}}</div></mat-card-subtitle>
    </mat-card-header>
    </mat-card>

    <mat-list style="color:white;">
        <mat-list-item  style="color:white"><a matLine href="#"style="color:white">Clean India Green India</a></mat-list-item>
        <mat-divider  style="background-color:white"></mat-divider>
        <mat-list-item  style="color:white"><a matLine href="#"style="color:white">About Us</a></mat-list-item>
        <mat-divider  style="background-color:white"></mat-divider>
        <mat-list-item  style="color:white"><a matLine href="" (click)="logout()" style="color:white">Feedback</a></mat-list-item>
        <mat-divider  style="background-color:white"></mat-divider>
        <mat-list-item  style="color:white"><a matLine href="" (click)="logout()"style="color:white">Logout</a></mat-list-item>
        
      </mat-list>     
</mat-sidenav>
















  <mat-sidenav-content>
   
    <div style="width:100%;height:50px;background-color:#39ff15;" class="fixed-top">
      <a (click)="sidenav.open()"><h1><i class="fas fa-bars" style="color:white"></i></h1></a>
    </div>




    <agm-map style="height: 600px;width:100%" [latitude]="latitude" [longitude]="longitude" [zoom]="15" (mapClick)="setmarker($event)"> <!--"selectonmap($event)">-->
      <agm-marker [latitude]="latitude" [longitude]="longitude" >
   
         <agm-info-window>Current Location</agm-info-window>
      </agm-marker>
     
   
         <agm-marker *ngFor="let x of latlongs;index as i" [latitude]="x.latitude" [longitude]="x.longitude" [label]="i">
             <agm-info-window><strong>{{x.timing}}</strong></agm-info-window>
         </agm-marker>
        
   <agm-polyline>
          
           <agm-polyline-point *ngFor="let x of latlongs"  [latitude]="x.latitude" [longitude]="x.longitude"  >
             
         
           </agm-polyline-point>
      
       </agm-polyline>
   
       </agm-map>
       



       <mat-card style="width:100%;margin-top: 2px;">
       
   <h3>
     Search Your Place Here</h3>
                   
            <div class="input-group form-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ><a  data-toggle="tooltip" data-placement="bottom" title="click for current location" ><mat-icon (click)="setCurrentPosition()">location_searching</mat-icon></a></button>
                  </span>  
              
  <input type="text"  placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control"   #search >
  <span class="input-group-btn">
    <button class="btn " (click)="shownearroute()" style="background-color: #39ff15" >show route</button>
  </span>           
</div>
  
  



<div  *ngFor="let driver of driverList"  class="jumbotron jumbotron-fluid  mb-0 "  style="padding-top: 2rem; padding-bottom: 2rem; background-color: #39ff15;">

  <div class="container" >

        <div class="card-deck text-white">

      <div class="card bg-success shadow-lg" style="padding:0px;">

        <div class="card-body  p-5">

          <div><img src="/assets/tree.jpg" height="100%" width="100%"></div>
         
        </div>

      </div>

      <div class="card bg-success shadow-lg">
        <div class="card-header text-center"><h4>Driver Details</h4></div>
        <div class="card-body  p-5">

         
          <table width="80%"  align="left"  cellpadding="2" cellspacing="1"  style="font-size:30px;">
            <tbody >
              <tr>
                <td >Name :</td><td>  {{driver.dname}}</td>
              </tr>
              <tr>
                <td>Contact :</td><td>  {{driver.contact}}</td>
              </tr>
              <tr>
                <td>Duty Timing : </td><td>  {{driver.duty_timing}}</td>
              </tr>
            
            </tbody>
          </table>

        </div>

      </div>

      

      
    </div>

  </div>

</div>



  
  
  
              <div style="padding-top:1px;">
                  <mat-card style="background-color:#39ff15;color:white;width:100%"><h5>
                      
                      This project is used for track the garbage collector vehicle .user just need to login in their account and at home page and user need to search their location 
                      or press the current location button and after that they see the current location of vehicle and their whole route and also the details of driver.
                      for more information click here....</h5>
                     </mat-card></div>
          
  
  
                     
          </mat-card>
 
  </mat-sidenav-content>
</mat-sidenav-container>

